<div class="error">
    <h1 class="error__title">Ошибка {{errorCode}}</h1>
    <p class="error__text">{{errorTextFirst}}</p>
    <p class="error__text">{{errorTextSecond}}</p>
    <a class="error__link" href="#">Вернуться к чатам</a>
</div>
