<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MM's.messenger</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>
    <main class="content">
        <form class="password__form">
            <fieldset class="password__form-input">
                {{> profile-input/profile-input
                label="Старый пароль"
                value="1111111"
                required="true" type="password" name="oldPassword" placeholder="Введите пароль"
                }}
                {{> profile-input/profile-input
                label="Новый пароль"
                value="11111111111"
                required="true" type="password" name="newPassword" placeholder="Придумайте пароль"
                }}
                {{> profile-input/profile-input
                label="Повторите пароль"
                value="11111111111"
                required="true" type="password" name="fnewPassword" placeholder="Введите пароль ещё раз"
                }}
            </fieldset>
            {{> button/button label="Сохранить" }}
        </form>
    </main>
</body>

</html>
