:root {
    --dark-grey: #4A4E5E;
    --background-input: #ECEDF0; 
    --backgraund-default: #F8F7F8;
}

body {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--backgraund-default);
    max-width: 1440px;
    height: 100vh;
    margin: 100px auto 0 auto;
    font-family: 'Tkachenko Sketch 4F', Arial, Helvetica, sans-serif;
    color: var(--dark-grey);
}

.content {
    display: flex;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
}

.navigation a {
    color: var(--dark-grey);
}

.form {
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(74, 78, 94, 0.5);
    border-radius: 5px;
}

.profile__form,
.password__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password__form {
    margin-top: 70px;
}

.form__title {
    margin: 0;
    text-align: center;
    font-size: 70px;
}

.form__input,
.profile__form-input,
.password__form-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: none;
    margin: 40px 0 0 0;
    padding: 0;
    gap: 15px;
}

.profile,
.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    box-shadow: 5px 5px 10px rgba(74, 78, 94, 0.5);
    border-radius: 5px;
    padding: 30px 0;
}

.profile__avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.edit-profile__avatar-container {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 80px;
}

.edit-profile__avatar-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.edit-profile__avatar-button {
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color .2s ease;
}

.edit-profile__avatar-button:hover,
.edit-profile__avatar-button:focus {
    background-image: url(../../static/images/edit-avatar.png);
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .7);
}


.profile__title {
    margin: 30px 0 50px 0;
    font-size: 40px;
}

.profile__list,
.profile__form-input,
.password__form-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 600px;
}

.profile__link-list {
    margin-top: 30px;
    width: 620px;
    display: flex;
    flex-direction: column;
}

.profile__link-list a {
    padding: 0 10px;
    text-align: start;
    width: max-content;
}

.profile__link-list a:last-of-type {
    color: rgba(255, 0, 0, 0.699);
    border-bottom: none;
    text-shadow: none;
}

/* Chat */
.chat-list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--dark-grey);
    padding-right: 15px;
    gap: 5px;
    width: 30%;
}

.chat-icons {
    display: flex;
    justify-content: space-between;
}

.chat__button,
.chat__message-send {
    width: 35px;
    height: 35px;
    padding: 1px 0 0 0;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid var(--dark-grey);
    background: var(--backgraund-default);
}

.chat__icon {
    width: 30px;
    height: 30px;
}

.chat__search {
    display: flex;
    padding: 2px;
    margin: 5px 0;
    box-shadow: 5px 5px 5px rgba(74, 78, 94, 0.5);
    background-color: var(--background-input);
    /* border: 1px solid #4A4E5E; */
    border-radius: 10px;
}

.chat-list__list {
    display: grid;
    grid-auto-rows: 90px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat__form-group {
    display: flex;
    padding: 5px;
    width: 90%;
    background: var(--background-input);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(74, 78, 94, 0.5);
}

.chat__search-input,
.chat__message-input {
    width: 100%;
    border: none;
    outline: none;
    background: var(--background-input);
    line-height: 28px;
    font-size: 20px;
    color: var(--dark-grey);
    margin: 1px 0 0 2px;
    border-radius: 10px;
}

.chat__message-input{
    margin: 0 0 0 10px;
    padding: 0;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 70vh;
    padding: 0 20px;
}

.chat__info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 76px;
    border-bottom: 1px solid var(--dark-grey);
}

.chat__photo {
    width: 70px;
    height: 70px;
}

.chat__message {
    display: flex;
}

.chat__attach-button {
    border: none;
    width: 28px;
    height: 28px;
    background-size: cover;
    padding: 0;
}

.chat__attach-image {
    margin-top: 2px;
    width: 25px;
    height: 25px;

}

.chat__message-send {
    width: 38px;
    height: 38px;
    margin-left: 7px;
    border: none;
}

.chat__message-send-image {
    width: 38px;
    height: 38px;
}
