.chat-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #989CA8;
}

.chat-item__logo {
    width: 60px;
    height: 60px;
}

.chat-item__group-data {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    text-align: center;
}

.chat-item__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.chat-item__text {
    margin: 5px 0 0 0;
    color: #989CA8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.chat-item__date {
    margin: 0;
}

.chat-item__counter {
    margin: 0;
    background-color: #CDD5E3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
